<div class = "main">
    <div class="start">
        <div class="starttop">
            <div class="lstartcontent">
                <p>Exibition</p>
            </div>
            <div class="startpic">
                <img src="../../assets/images/art.png" height= "200">
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="SEARCH ART">
        </div>
    </div>
    <div class="middle">
        <div class="cont">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
                <div *ngFor="let x of data; let i=index">
                <!-- {{x.toString()}} -->
                <app-cards [type]="5" [id]="i" [Art_Name]="x.payload.doc.data().name" [Art_Img]="x.payload.doc.data().image"></app-cards>
                <!-- <app-cards [type] = "1" [id] = "x" style = "background-color: blueviolet;"></app-component> -->
            </div>
            </div>
        </div>
    </div>
</div>
