.main{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
  .start
  {
    background: linear-gradient(90deg, #c7e4ff, #bab6f0 100%);
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.startpic
{
    margin-top: 7%;
}

  .starttop
  {
      display:flex;
      flex-direction: row;
  }
  .lstartcontent
  {
    margin-top: 10%;
    margin-left:40%;
    font-family:country;
    color:#9370dc;
    font-size: 300%;
    line-height: 1.5;
  }

  .search
{
    border-radius: 70px;
    display:flex;
    justify-content: space-evenly;  
    // margin: 2%;
}

.search input[type=text] {
    border-radius: 70px;
    border: none;
    width: 60vw;
    font-size: 17px;
  }