<div class = "main">
    <div class = "header">
        <div class="starttop">
            <div class="lstartcontent">
                <p>Forum</p>
            </div>
            <div class="startpic">
                <img src="../../assets/images/forum.png" height= "200">
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="SEARCH FORUM">
        </div>
    </div>
    <div class = "maincontent">
        <div class = "filter">
            <div class = "yourcomment">
                <form [formGroup]="threadform" style="width: 100%;"><input class = "ip" placeholder="Add a Thread" type="text" style="width: 100%;" formControlName="newth"></form>
                <div style="align-self: flex-end; margin-right: 10%; font-size: 100%;"><button class = "custbutton" style = "padding: 0% 50%;"(click) = "addthread()">+</button></div>
            </div>
            <div style="font-size: 130%; text-align: center; width: 100%;">Threads: </div>
            <div *ngFor = "let x of allthreads" (click) = "showthread(x)" style = "margin: 5% 2%; cursor: pointer; text-decoration: underline;">
                {{x.payload.doc.data().topic}}
            </div>
        </div>
        <div class = "thread">
            <div class = "threadtitle">
                {{thread.payload.doc.data().topic}}
                <div style = "font-family: country; font-size: 50%;">~By {{thread.payload.doc.data().madeby}}</div>

            </div>
            <div class = "yourcomment">
                <form [formGroup]="replyform" style="width: 100%;"><input class = "ip" placeholder="reply" type="text" style="width: 80%;" formControlName="replyin"></form>
                <div style="align-self: flex-end; margin-right: 10%;"><button class = "custbutton" (click) = "reply()">Reply</button></div>
            </div>
            <div class = "comments">
                <div class = "comment" *ngFor = "let x of comments">
                    <div class = "name">
                        {{x.payload.doc.data().name}} says..
                    </div>
                    <div class = "comcontent">
                        {{x.payload.doc.data().comment}}
                    </div>
                </div>
            </div>
            <!-- <div class = "product" *ngFor = "let x of [1, 2, 3, 4, 5, 6]; let i = index">
                <app-cards [type] = "1" [id] = "i"></app-cards>
            </div> -->
        </div>
    </div>
</div>