<div class = "main">
    <div class="start">
        <div class="starttop">
            <div class="lstartcontent">
                <p>Community</p>
            </div>
            <div class="startpic">
                <img src="../../assets/images/Community.png" height= "200">
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="SEARCH DOCTORS">
        </div>
    </div>
    <div class="middle">
        <div class = "but">
            <div class = "clicks" routerLink = "/ngos">
                <div class ="Ngoimg">
                    <img src="../../assets/images/NGO.png"height="200">
                </div>
                <h1>NGOs</h1>
            </div>
            <div class = "clicks" routerLink = "/doctors">
                <img src="../../assets/images/doctors.png" height="250" padding="0%" margin="0">
                <h1>Doctors</h1>
            </div>
        </div>
    </div>
</div>