<div class="main">
    <div class="header">
        <div class="starttop">
            <h1>Shop</h1>
            <div class="startimg">
                <img src="../../assets/images/Shop.png" height="200">
            </div>
        </div>
        <div class="startbottom">
            <div class="search">
                <input type="text" placeholder="SEARCH FOR PRODUCTS">
            </div>
        </div>
    </div>
    <div class="maincontent">
        <div class="filter">
            <div>Filter:</div>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Mentrual Cups</label><br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Sanitary Napkins</label><br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Tampons</label><br>
        </div>
        <div class="products">
            <div class="product" *ngFor="let x of products; let i = index">
                <app-cards (valueChange)='addtocart($event)' [type]="1" [id]="i" [prod_img]="x.payload.doc.data().img"
                    [prod_title]="x.payload.doc.data().name" [prod_desc]="x.payload.doc.data().description"
                    [prod_soldby]="x.payload.doc.data().soldby" [prod_price]="x.payload.doc.data().price"
                    [prod_rating]="x.payload.doc.data().rating" [prod_id]="x.payload.doc.id"></app-cards>
            </div>
        </div>
    </div>
</div>